# Compiled source
/public/hot
/public/storage
/public/build
/storage/framework/
/storage/logs/
/bootstrap/cache/

# Dependencies
/node_modules
/vendor

# IDEs
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db

# Misc
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log.env.backup
.env.sqlite-switch.backup
